# load api
python-dotenv

# langchain
langchain
langchain-core
langchain-community

# llm providers
langchain-groq

# splitter
langchain-text-splitters

# vector store
# faiss-cpu
langchain-qdrant
qdrant-client

# notebook
jupyter
ipykernel

# app
streamlit

# LLM gateways
portkey-ai
langchain-openai

# Every gateway -> gives openai compatible code

# Evalution

openevals

# tests
pytest